/* 
files/assets/css/custom.css 
Requires default value in conf.py: FILES_FOLDERS = {'files': ''}
*/

/* Set the height of the logo. */
#logo {
    height: 30px !important;
}

/*******************************************************************************/

/* Navigation bar - Blue theme */
/* Background of navigation bar. Dark blue color */
.navbar { 
    background-color: #0044aa !important;
}

/* Default color of the text on the navigation bar
#aaccff - light blue font color. #0044aa - dark-blue background
Increase the font-size of nav buttons */
.nav-link, .dropdown-item {
    color: #aaccff !important;
    background-color: #0044aa !important;
    font-size: 105%;
}

/* Color of the text on the navigation bar when hover and drop-down - white */
.nav-link:hover, .dropdown-item:hover {
    color: #ffffff !important;
}

/* Use a sans-serif font. Set a background color */
body {
    font-family: Verdana, Arial, Helvetica, Sans-serif;
    font-size: 100%;
    background-color: #ddddff;
    
}

/*******************************************************************************/

/* Navigation bar - Purple - Cinamon theme */
/* Background of navigation bar. Dark Purple color #aa00d4 */
.navbar { 
    background-color: #8000aa !important;
}

/* Default color of the text on the navigation bar
#aaccff - light blue font color. #0044aa - dark-blue background
Increase the font-size of nav buttons */
.nav-link, .dropdown-item {
    color: #f6d5ff !important;
    background-color: #8000aa !important;
    font-size: 105%;
}

/* Color of the text on the navigation bar when hover and drop-down - white */
.nav-link:hover, .dropdown-item:hover {
    color: #ffffff !important;
    font-size: 110%;    
}

/* Use a sans-serif font. Set a background color */
body {
    font-family: Verdana, Arial, Helvetica, Sans-serif;
    font-size: 100%;
    background-color: #f6d5ff;
    
}
/*******************************************************************************/

/* h1 has been scaled to about 240%. Don't scale so large. E.g. font-size: 180% */
/* Put this at the end of the css file. */

h1 {
  font-size: 180%
}

h2 {
  font-size: 120%;
{


